body {
    background-image:  url("imagem/bg2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title{
    /*margin-top: 17%;
    margin-left: 37%;
    position:  absolute;
    */
    position:fixed;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color:              #124500;
    font-family:  cursive;

}
.subtitle{
    margin-top: 22%;
    margin-left: 42%;
    position:  fixed;
    color:         #124500;
    font-family:  cursive;
    text-align: center;
}
.button{
    height:  50px;
    width:   120px;
    border-color: black;
    background-color:#124500;
    border-width:  2px;
    border-radius : 5px;
    position: fixed;
    top: 70%;
    left:  45%;
    padding-top: 1%;
    padding-left: 1%;

}

.litleText{
    font-family: tahoma;
    font-size:  30px;
    color: white;
    text-decoration: none;
    position: fixed;
}

.description {
    margin-bottom: 00%;
    margin-left: 10%;
    position:  fixed;
    color:  #124500;
    font-family:  tahoma;
}